.bg_sand{
    background-color: #cb6f6f;
}

.showcase{

    h2{
        margin: 0;
    }

    li{
        font-size: 1.2em;
    }

    padding: 5%;
}

.h_2{
    padding-top: 2em;
}

.col_50{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inline {
    display: inline;
}