body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-content: center;
    margin: 0 5%;
    text-wrap: pretty;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*h2 {
    margin-top: 10%;
}*/

ol li {
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.fit {
    width: fit-content;
}

.alert {
    color: red;
}

.button {
    padding: 4%;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: inline-flex;
    text-align: center;
}

.button:hover {
    background: rgb(48, 48, 182);
    color: #fff;
    transition: all .5s;
}

.greeting {
    font-size: 2em;
    text-transform: uppercase;
}

.logoutBut {
    display: flex;
    justify-self: end;
    background: red;
    color: #fff;
    border: none;
    width: fit-content;
    margin: 1em 0;
   
    align-self: end;

}

input#backButton {
    border-radius: 20px;
    margin: 2em 0;
}

.loggedIn {
    font-size: 2.em;
    font-style: uppercase;
}

form {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 1.2em;
    gap: 1em;
    margin-bottom: 10%;

    .col_2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
        margin-bottom: 3%;
    }

    .deadline_col {
        justify-content: space-between;
        align-items: end;
    }

    label {
        display: flex;
        justify-content: left;
        align-items: center;
        font-family: 'Courier New', Courier, monospace;
        gap: 1em;
    }


    input,
    textarea {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 2%;
        font-family: 'Courier New', Courier, monospace;
        border-radius: 20px;
        border: 1px solid rgb(185, 185, 185);
        gap: 1em;
    }

    .width80 {
        width: 95%;
        
    }

    textarea {
        padding: 1.5%;
        height: 100px;
        width: 100%;
        color: #000;
    }

    input[type=submit] {
        font-size: 1em;
        padding: 0.5% 2.5%;
        font-weight: bold;
        align-self: end;
        width: fit-content;
        min-height: 0;
    }

    input[type=submit]:hover {
        background: rgb(48, 48, 182);
        color: #fff;
        transition: all .5s;
    }

    .multilines {
        min-height: 5em;
    }


}

.back {
    display: inline-flex;
    width: fit-content;
    align-self: end;
    background: rgb(48, 48, 182);
    color: #fff;
    padding: 2%;
    border-radius: 50px;

    &:hover {
        color: #000;
        background: red;
    }
}

#viewValues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
    
    a {
        display: inline-flex;
        padding: 2.5%;
        border-radius: 50pxF;
    }
}


@media screen and (min-width: 1200px) {}